server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**

        - id: som-service
          uri: lb://SOM
          predicates:
            - Path=/som/**


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: ZGF0YWJyaWRnZS1zdXBlci1zZWNyZXQta2V5LWZvci1qd3QtdG9rZW4=
